<%- include('./partials/head') %>
<div class="container">
  <div class="card">
    <section class="front">
      <img src="/images/pfp.avif">
      <header>
        <h1> <%= data.name %> <%= data.surname %>  </h1>
        <h2> <%= data.nickname%> </h2>
      </header>
   </section>
  <section class="back">
    <img src="/images/pfp.avif">
    <header>
      <h1> <%= data.name %> <%= data.prefix %> <%= data.surname %> </h1>
    </header>
    <ul>
      <li><a href="tel:<%= data.phone_number %>"> <%= data.phone_number%> </a></li>
      <li><a href="mailto:<%= data.email %>"> <%= data.email %> </a></li>
      <li><a href="https://github.com/KaanKalmi"> <%= data.github_handle %> </a></li>
    </ul>
    <blockquote> <%= data.bio %> </blockquote> 
  </section>


  <%- include('./partials/foot') %>