<%- include('./partials/head') %>
  <section class="back">
    <img src="<%= data.avatar %>">
    <header>
      <h1> <%= data.name %> <%= data.prefix %> <%= data.surname %> </h1>
    </header>
    <ul>
      <li><a href="tel:<%= data.phone_number %>"> <%= data.phone_number%> </a></li>
      <li><a href="mailto:<%= data.email %>"> <%= data.email %> </a></li>
      <li><a href="https://github.com/KaanKalmi"> <%= data.github_handle %> </a></li>
    </ul>
    <blockquote> <%= data.bio %> </blockquote> 
  </section>

  <%- include('./partials/foot') %>